<h2>OTP Verification</h2>
<p>Your OTP code is:</p>
<p class="otp">{{otp}}</p>
<p>This code will expire in {{expiration}} minutes.</p>
<p>If you didn't request this, please ignore this email.</p>
<div class="footer">© {{year}} Your Company. All rights reserved.</div>