services:
  server:
    build:
      context: ../..
      dockerfile: docker/prod/Dockerfile
    container_name: ${PROJECT}-server
    env_file:
      - ../../.env
    restart: always
  gateway:
    image: nginx:alpine
    container_name: ${PROJECT}-gateway
    ports:
      - "8080:443"  # Maps external 8080 to internal 443 (HTTPS)
      - "8081:80"   # Maps external 8081 to internal 80 (HTTP) - optional
    volumes:
      - ../../config.d/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ../../config.d/nginx/default.prod.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt/live:/etc/letsencrypt/live:ro
      - /etc/letsencrypt/archive:/etc/letsencrypt/archive:ro
    depends_on:
      - server
    restart: always
